

<h3><%= link_to "Teams", teams_path(@team)%><br></h3>
<h3><%= link_to "Players", players_path(@player)%><br></h3>
<h3><%= link_to "Games", games_path(@game)%><br></h3>
<h3><%= link_to "Tournaments", tournaments_path(@tournament)%></h3>