<%#= form_with(url: search_path, method: "get") do %>
  <%#= label_tag(:q, "Search for:") %>
  <%#= text_field_tag(:q) %>
  <%#= submit_tag("Search") %>
<%# end %>
<%# 
<% if @tournaments %>
  <%# <%@tournaments.each do |tournament|%> %>
  <%# <%=link_to "Testing Tournament", tournament_path(tournament)%> 


<h3><%#= link_to "Teams", teams_path(@team)%><br></h3>
<h3><%#= link_to "Players", players_path(@player)%><br></h3>
<h3><%#= link_to "Games", games_path(@game)%><br></h3>
<h3><%#= link_to "Tournaments", tournaments_path(@tournament)%></h3>