
<h3><%= link_to "Main Menu", tournament_teams_path%><br></h3>

<ul>
<h1> All Players</h1>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.name, player_path(player) %>
    </li>
    <br>
  <% end %>

</ul>